
<!DOCTYPE html>
<html>
    <head>
        <title>Date Page</title>
    </head>
    <body>
        <h1>Today</h1>
        <%date = Time.now%>
        <%full_date = date.strftime("%A, %B %d, %Y")%>
        <p><%='The date is ' + full_date%></p>
      
    </body>
</html>
